
*{
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-color .navbar-nav .nav-link {
    color: white !important; /* Establece el color del texto en blanco */
  }

  .black{
    background-color: black;
  }

  .color-footer{
    background-color: cyan;
    height: 100px;
  }